<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101148815080-qfj2spbv86aq1j58sab8emhid64oo68h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101148815080-qfj2spbv86aq1j58sab8emhid64oo68h</string>
	<key>API_KEY</key>
	<string>AIzaSyDmHw0ub5cZGG6z9ZT5o2miFRIFUG-5PVw</string>
	<key>GCM_SENDER_ID</key>
	<string>101148815080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courtSide</string>
	<key>PROJECT_ID</key>
	<string>courtside-70803</string>
	<key>STORAGE_BUCKET</key>
	<string>courtside-70803.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101148815080:ios:73f7a2ac68c9f5d338635d</string>
</dict>
</plist>